html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(104, 160, 96, 255);
	text-align:justify
}

#jumbotron-background-1 {	
    height: 250px;
    width: 100%;
    background-image: url(../img/jumbotron-background-1.png);
    background-repeat: repeat;	
	margin-bottom: 0;
}

.navbar {
	width: 100%;
	background: linear-gradient(rgba(104, 160, 96, 255) 80%, rgba(104, 160, 96, 0));
    border: 0;
    border-radius: 0;
	margin-bottom: 0;
}

#title {	
    font-family: Indie Flower;
    font-style: oblique;
    color: rgba(160, 224, 88, 255);
    font-size: 300%;	
}

.nav {	
    float: right;	
}

.icon {	
    color: rgba(160, 224, 88, 255);
    font-size: 170%;	
}

/* Principal */

.tooltip > .tooltip-inner {
    background-color: rgba(160, 224, 88, 255);
    color: black; 
}

.tooltip.left > .tooltip-arrow {
    border-left: 5px solid rgba(160, 224, 88, 255);
}

#content, #add {
	float:left;
}

#content {
    width: calc(100% - 310px); 
}

.new {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 5px;
    border-color: rgba(160, 224, 88, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(160, 224, 88, 255);
    color: black; 
}

.newData, .newDescription {
    float: left;
}

.newData  {
    padding: 0;
    padding-left: 0;
    width: 250px;
    margin-right: 20px;
}

.newImg {
	width: 250px;
}

.newDescription {
    width: calc(100% - 290px); 
}

.newTitle {
    font-size: 150%; 
	text-align: left;
}

#loadButtonContainer {
	text-align: center;
}

#loadButton {
	background-color: rgba(175, 229, 89, 1); 
	border-color: rgba(175, 229, 89, 1);
	color: black;
}

#add {   
    height: 600px;
    width: 300px;
	overflow: hidden;
    border: 0;
}

/* Noticia */

#newTitle, #newContent  {	
	margin-left: 3%;
	margin-right: 3%;	
}

#newTitle {
	text-align: center;
}